workflows/ShortlistAI - Rubric Generator.json
{
  "name": "ShortlistAI - Rubric Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rubric-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d01290e4-191f-4533-b1de-43df00227ac1",
      "name": "Webhook",
      "webhookId": "c85fbb4a-bc2a-47cb-8549-2b6d5e0a1bb4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/projects",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_ANON_KEY\",\n  \"Authorization\": \"Bearer YOUR_SUPABASE_ANON_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_name\": \"{{ $json.body.projectName }}\",\n  \"role_name\": \"{{ $json.body.roleName }}\",\n  \"job_description\": {{ JSON.stringify($json.body.jobDescription) }},\n  \"status\": \"rubric_review\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "477fc197-f3ef-46e4-bf45-6446bc84862b",
      "name": "Create Project in Supabase"
    },
    {
      "parameters": {
        "jsCode": "const project = $input.first().json;\n\nconst projectData = Array.isArray(project) ? project[0] : project;\nconst projectId = projectData.id;\nconst roleName = projectData.role_name;\nconst jobDescription = projectData.job_description;\n\nconst systemPrompt = `<Role>\nYou are a senior hiring consultant who has designed evaluation rubrics for 500+ roles across technology, sales, marketing, and operations. You specialize in creating structured, bias-aware scoring frameworks that help hiring managers evaluate candidates consistently and fairly.\n</Role>\n\n<Instruction>\nAnalyze the provided job description to identify the core competencies, skills, and qualities required for success in this role. Then generate a scoring rubric with exactly 5 criteria that collectively cover distinct evaluation dimensions — no two criteria should measure the same underlying quality.\n\nEach criterion must include scoring anchors that describe what high, medium, and low performance looks like on a resume. These anchors are passed directly to the AI scorer and determine scoring consistency across hundreds of resumes.\n</Instruction>\n\n<Task>\nFollow these steps in order:\n\nStep 1 — Identify the role type from the job title and description (e.g., engineering, product management, AI/ML, sales, marketing, operations, design, data, generalist).\n\nStep 2 — Extract the 8-12 most important requirements from the JD. Distinguish between must-haves and nice-to-haves based on language signals (e.g., \"required\" vs. \"preferred\", \"must have\" vs. \"bonus\").\n\nStep 3 — Map requirements to evaluation dimensions. Ensure your criteria collectively cover these where relevant:\n  - Technical/Functional Skills: domain-specific capabilities\n  - Experience Relevance: depth and relevance, not just years\n  - Impact and Achievements: measurable outcomes and ownership\n  - Problem Solving / Thinking Style: analytical, creative, strategic\n  - Domain/Industry Fit: relevant industries, company stages, markets\n  - Growth Trajectory: progression, increasing scope, learning speed\n  - Communication and Collaboration: cross-functional, influence, clarity\n  - Education and Certifications: only when role-specific; de-weight to reduce prestige bias\n\nStep 4 — If the role matches a known archetype, draw from these evaluation patterns to fill gaps the JD may have missed:\n  - AI/ML Product Manager: AI ecosystem understanding, technical AI concepts, product building experience, responsible AI awareness, business strategy, cross-functional collaboration\n  - Software Engineer: proficiency in required stack, system design, problem-solving approach, code quality signals, communication, learning agility\n  - Sales / Business Development: pipeline management, communication and persuasion, domain knowledge, metrics-backed track record, resilience and adaptability\n  - Marketing: campaign execution and analytics, content and brand strategy, GTM thinking, data-driven decisions, cross-channel depth\n  - Operations / Generalist: process design, cross-functional coordination, data fluency, execution speed, adaptability\n  Customize to the specific JD — archetypes are starting points, not rigid templates.\n  If the role spans multiple archetypes, blend the top 3-4 dimensions from each relevant archetype.\n\nStep 5 — Assign weights following these principles:\n  - Weight the most JD-critical skills highest (0.20-0.30)\n  - No single criterion should exceed 0.30\n  - No criterion should be below 0.05\n  - Education/certifications should rarely exceed 0.10\n  - All weights must sum to exactly 1.0\n\nStep 6 — Write scoring anchors for each criterion. Anchors must be:\n  - Specific to the role, not generic\n  - Based on observable resume evidence, not subjective impressions\n  - Concrete enough that two different scorers would assign the same score to the same resume\n  BAD anchor: \"Strong technical skills\"\n  GOOD anchor: \"4+ years building production APIs with evidence of system design ownership (architecture docs, tech lead role, migration projects)\"\n</Task>\n\n<Guardrails>\n1. Criteria must be distinct — no overlapping evaluation dimensions\n2. Criteria names must be 20 characters or fewer, specific to the role\n3. Descriptions must be 90 characters or fewer\n4. Do not create criteria that penalize career gaps, non-traditional education paths, or non-prestigious institutions\n5. If the JD is vague or missing key requirements, use the role archetype to fill gaps and note this in the criterion description\n6. Respond with the JSON array directly — no markdown fences, no explanation, no preamble\n</Guardrails>`;\n\n\nconst userPrompt = `Create a scoring rubric for the following role.\n\nRole: ${roleName}\n\nJob Description:\n${jobDescription}\n\nReturn a JSON array of exactly 5 criteria. Each item must follow this exact schema:\n{\n  \"criterion\": \"Role-Specific Name\",\n  \"description\": \"What to evaluate and why it matters for this specific role.\",\n  \"max_score\": 10,\n  \"weight\": 0.20,\n  \"scoring_guide\": {\n    \"high\": \"What an 8-10 resume looks like: specific, observable evidence for this role\",\n    \"mid\": \"What a 4-7 resume looks like: partial evidence or mixed signals\",\n    \"low\": \"What a 0-3 resume looks like: absence of relevant evidence or clear misalignment\"\n  }\n}\n\nStrict limits:\n- \"criterion\" must be 20 characters or fewer\n- \"description\" must be 90 characters or fewer\n- Return exactly 5 criteria, no more, no less\n\nExample (abbreviated — shows 2 of 5 criteria for a Senior Backend Engineer):\n[\n  {\n    \"criterion\": \"Backend Architecture\",\n    \"description\": \"Ability to design scalable systems: APIs, microservices, and database optimization.\",\n    \"max_score\": 10,\n    \"weight\": 0.25,\n    \"scoring_guide\": {\n      \"high\": \"Has designed or owned systems handling 10K+ RPS or equivalent scale. Resume shows architecture decision ownership with measurable outcomes (latency reduced by X%, uptime improved). Experience with multiple infrastructure patterns.\",\n      \"mid\": \"Has worked on distributed systems as a contributor but not as architect. Familiar with scalability concepts but no evidence of owning critical trade-off decisions.\",\n      \"low\": \"Backend experience limited to monolithic CRUD applications or tutorial-level projects. No mention of distributed systems, horizontal scaling, or infrastructure design.\"\n    }\n  },\n  {\n    \"criterion\": \"System Reliability\",\n    \"description\": \"Track record owning production services: monitoring, incident response, and uptime.\",\n    \"max_score\": 10,\n    \"weight\": 0.20,\n    \"scoring_guide\": {\n      \"high\": \"Resume mentions on-call ownership, SLA targets, incident postmortems, or observability tooling setup. Has managed services with defined uptime targets and can point to reliability improvements they drove.\",\n      \"mid\": \"Has deployed to production and handled some operational tasks but no evidence of owning reliability end-to-end. May have contributed to monitoring without designing the approach.\",\n      \"low\": \"No production operations experience evident. Work appears limited to development environments or prototypes handed off to others for deployment.\"\n    }\n  }\n]`;\n\n\nreturn [{\n  json: {\n    projectId,\n    roleName,\n    jobDescription,\n    systemPrompt,\n    userPrompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "a277b42d-4106-4216-8b15-d7cf6dd8d23f",
      "name": "Generate Rubric Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2500,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        224
      ],
      "id": "bfc1f428-616a-4f3a-aee2-c056e91c3d75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1yJZhPJpRqCjoUNq",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}\n",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "17798e58-f618-404f-ba92-dd354da6c268",
      "name": "Generate Rubric via AI"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst projectId = $('Generate Rubric Prompt').first().json.projectId;\n\nlet rubricText = input.output || input.text || '';\nrubricText = rubricText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet rubricItems = [];\ntry {\n  rubricItems = JSON.parse(rubricText);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse rubric JSON',\n      raw: rubricText,\n      projectId\n    }\n  }];\n}\n\n// Normalize weights so they always sum to exactly 1.0\nconst totalWeight = rubricItems.reduce((sum, r) => sum + (r.weight || 0), 0);\nconst multiplier = totalWeight > 0 ? 1 / totalWeight : 1 / rubricItems.length;\n\nconst supabaseRows = rubricItems.map((item, index) => ({\n  project_id: projectId,\n  criterion: item.criterion,\n  description: item.description,\n  max_score: item.max_score || 10,\n  weight: parseFloat(((item.weight || (1 / rubricItems.length)) * multiplier).toFixed(4)),\n  scoring_guide: item.scoring_guide || null,\n  sort_order: index\n}));\n\nreturn [{\n  json: {\n    projectId,\n    rubricItems: supabaseRows,\n    rubricForFrontend: supabaseRows\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "2bed61cc-465a-43e7-8071-4b1dd1b05e4f",
      "name": "Parse Rubric Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/rubrics",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_ANON_KEY\",\n  \"Authorization\": \"Bearer YOUR_SUPABASE_ANON_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rubricItems) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "a86b9f04-df03-41ae-ac1c-d26c6337783c",
      "name": "Save Rubric to Supabase"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1472,
        0
      ],
      "id": "e6f84dcd-ed1a-4c6b-841b-af161687f3d6",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Project in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project in Supabase": {
      "main": [
        [
          {
            "node": "Generate Rubric Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Rubric Prompt": {
      "main": [
        [
          {
            "node": "Generate Rubric via AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Rubric via AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Rubric via AI": {
      "main": [
        [
          {
            "node": "Parse Rubric Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rubric Response": {
      "main": [
        [
          {
            "node": "Save Rubric to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Rubric to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "74bf863c-4209-46d2-b86f-1b101c441f28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "773e3bef8f45334062fe7fb67a3c29322dab6b98f887d6e2ef8997d4577fd815"
  },
  "id": "hsCwnscoayzIIGkH",
  "tags": []
}