workflows/ShortlistAI - Resume Screener v2.json
{
  "name": "ShortlistAI - Resume Screener v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-screener",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        432
      ],
      "id": "75ceb895-c6da-418e-b2a3-bc3ba965f51a",
      "name": "Webhook",
      "webhookId": "167797dc-5a35-42f4-b739-ed2c5d1e3f63"
    },
    {
      "parameters": {
        "jsCode": "// Fix the mime type so the Compression node recognizes it as a zip\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'resumesZip');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'resumes.zip', 'application/zip');\n\nreturn [{\n  json: $input.first().json,\n  binary: { resumesZip: binaryData }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        432
      ],
      "id": "2754999d-8efb-4a8d-8a76-a0e01eb77fc9",
      "name": "Fix Binary Type"
    },
    {
      "parameters": {
        "binaryPropertyName": "resumesZip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -128,
        432
      ],
      "id": "c3b15279-e595-4405-be61-ae62046b2b6a",
      "name": "Compression"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binaryKeys = Object.keys(item.binary || {});\n\n  for (const key of binaryKeys) {\n    const binaryData = item.binary[key];\n    const fileName = binaryData.fileName || '';\n\n    if (!fileName.endsWith('.txt')) continue;\n    if (fileName.startsWith('.')) continue;\n    if (fileName.includes('__MACOSX')) continue;\n\n    try {\n      const buffer = await this.helpers.getBinaryDataBuffer(i, key);\n      const text = buffer.toString('utf-8');\n\n      if (text && text.trim().length > 50) {\n        results.push({\n          json: {\n            fileName: fileName,\n            extractedText: text.trim()\n          }\n        });\n      }\n    } catch(e) {}\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        432
      ],
      "id": "4db6e923-5b66-4b1a-a095-12a89b87ca7c",
      "name": "Extract Text from Files"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        432
      ],
      "id": "7abb824f-3b80-4b40-ba5e-121be6ac2423",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst resumeText = item.extractedText || '';\nconst fileName = item.fileName || '';\nconst projectId = $('Webhook').first().json.body?.projectId || '';\n\n// Fetch rubric from Supabase (cached after first call)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rubric) {\n  const rubricResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/rubrics?project_id=eq.' + projectId + '&order=sort_order.asc',\n    headers: {\n      'apikey': 'YOUR_SUPABASE_ANON_KEY',\n      'Authorization': 'Bearer YOUR_SUPABASE_ANON_KEY'\n    }\n  });\n  staticData.rubric = rubricResponse;\n\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: 'https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/projects?id=eq.' + projectId,\n    headers: {\n      'apikey': 'YOUR_SUPABASE_ANON_KEY',\n      'Authorization': 'Bearer YOUR_SUPABASE_ANON_KEY',\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: JSON.stringify({ status: 'screening' })\n  });\n}\n\nconst rubricItems = staticData.rubric;\n\n// Build rubric text with scoring anchors\nconst rubricText = rubricItems.map(r => {\n  let text = `### ${r.criterion} (weight: ${r.weight}, max score: ${r.max_score})\\n`;\n  text += `Description: ${r.description}\\n`;\n  if (r.scoring_guide) {\n    const sg = typeof r.scoring_guide === 'string' ? JSON.parse(r.scoring_guide) : r.scoring_guide;\n    if (sg.high) text += `- High (${Math.round(r.max_score * 0.8)}–${r.max_score}): ${sg.high}\\n`;\n    if (sg.mid)  text += `- Mid (${Math.round(r.max_score * 0.4)}–${Math.round(r.max_score * 0.7)}): ${sg.mid}\\n`;\n    if (sg.low)  text += `- Low (0–${Math.round(r.max_score * 0.3)}): ${sg.low}\\n`;\n  }\n  return text;\n}).join('\\n');\n\nconst systemPrompt = `<Role>\nYou are an expert talent evaluator with 15+ years of experience screening resumes for competitive roles. You give consistent, evidence-based scores grounded in what the resume actually says — not assumptions.\n</Role>\n\n<Instruction>\nScore the resume against each rubric criterion using the scoring anchors as your guide. For every criterion, find a direct quote or paraphrase from the resume that justifies your score. If evidence is absent, score low.\n</Instruction>\n\n<Guardrails>\n- Never invent or infer experience not stated in the resume\n- Apply scoring anchors consistently — do not round up out of generosity\n- Extract contact info exactly as written; use null if not present\n- Output ONLY the JSON object — no preamble, no explanation outside the JSON\n</Guardrails>`;\n\nconst userContent = `<Task>\nScore this resume against the rubric below. Follow these steps:\n\n1. Read the full resume once before scoring anything\n2. For each criterion, find the strongest supporting evidence in the resume\n3. Match that evidence to the scoring anchor (high/mid/low) to pick your score\n4. Write a short evidence quote (max 20 words) directly from the resume\n5. Compute total_score = sum of (score × weight) for all criteria\n6. Write a 2-sentence summary: first sentence on biggest strength, second on biggest gap\n</Task>\n\n<Rubric>\n${rubricText}\n</Rubric>\n\n<Resume>\n${resumeText}\n</Resume>\n\nRespond ONLY with this exact JSON — no other text:\n{\n  \"candidate_name\": \"Full Name or null\",\n  \"email\": \"email@example.com or null\",\n  \"phone\": \"phone number or null\",\n  \"linkedin\": \"LinkedIn URL or null\",\n  \"criteria_scores\": [\n    {\n      \"criterion\": \"criterion name\",\n      \"score\": 8,\n      \"max_score\": 10,\n      \"weight\": 0.2,\n      \"evidence\": \"direct quote or paraphrase from resume\"\n    }\n  ],\n  \"total_score\": 74.5,\n  \"summary\": \"Strongest aspect sentence. Biggest gap sentence.\",\n  \"confidence\": \"high | medium | low\"\n}`;\n\nreturn [{\n  json: {\n    projectId,\n    fileName,\n    requestBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1500,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: userContent }]\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        432
      ],
      "id": "954670dd-883d-4423-8909-f4f921acc61a",
      "name": "Build Scoring Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"x-api-key\": \"YOUR_ANTHROPIC_API_KEY\",\n  \"anthropic-version\": \"2023-06-01\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        432
      ],
      "id": "3fae7694-a291-4c09-8fae-4cb2953beae8",
      "name": "Score Resume"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst buildData = $('Build Scoring Request').first().json;\nconst projectId = buildData.projectId;\nconst fileName = buildData.fileName;\n\nlet content = '';\nif (response.content && Array.isArray(response.content)) {\n  content = response.content.map(c => c.text || '').join('');\n} else if (typeof response.content === 'string') {\n  content = response.content;\n}\n\n// Extract JSON — try fences first, then raw object\nlet jsonStr = '';\nconst fenceMatch = content.match(/```(?:json)?\\s*\\n?([\\s\\S]*?)\\n?\\s*```/);\nif (fenceMatch) {\n  jsonStr = fenceMatch[1].trim();\n} else {\n  // ✅ Updated regex to match new schema (looks for criteria_scores or total_score)\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[0].trim();\n  } else {\n    jsonStr = content.trim();\n  }\n}\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch(e) {\n  parsed = {\n    candidate_name: fileName.replace('.txt', '').replace(/_/g, ' '),\n    email: null,\n    phone: null,\n    linkedin: null,\n    criteria_scores: [],\n    total_score: 0,\n    summary: 'Failed to parse AI response: ' + e.message,\n    confidence: 'low'\n  };\n}\n\n// ✅ Fallback: compute total_score from criteria_scores if model omitted it\nlet totalScore = parsed.total_score || 0;\nif (!totalScore && parsed.criteria_scores && parsed.criteria_scores.length > 0) {\n  totalScore = parsed.criteria_scores.reduce((sum, c) => sum + (c.score * c.weight), 0);\n  totalScore = Math.round(totalScore * 10) / 10;\n}\n\nreturn [{\n  json: {\n    project_id: projectId,\n    source_filename: fileName,\n    candidate_name: parsed.candidate_name || fileName.replace('.txt', ''),\n    email: parsed.email || null,\n    phone: parsed.phone || null,\n    linkedin: parsed.linkedin || null,\n    criteria_scores: parsed.criteria_scores || [],   // ✅ NEW\n    score: totalScore,\n    reasoning: parsed.summary || '',                  // reuses existing column\n    confidence: parsed.confidence || 'medium',        // ✅ NEW\n    status: 'pending'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        432
      ],
      "id": "de0e4917-7ece-48d3-9ee7-394e743a041f",
      "name": "Parse Score Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/candidates",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_ANON_KEY\",\n  \"Authorization\": \"Bearer YOUR_SUPABASE_ANON_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        512
      ],
      "id": "1541fbf9-ce41-4f72-9719-56c9a5cb133e",
      "name": "Save Candidate to Supabase"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://thpfsrysnbvijfackpsg.supabase.co/rest/v1/projects?id=eq.{{ $('Webhook').first().json.body.projectId }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_ANON_KEY\",\n  \"Authorization\": \"Bearer YOUR_SUPABASE_ANON_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"complete\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        240
      ],
      "id": "8018d99b-912b-4e7b-a8f0-bbb51f2907db",
      "name": "Update Project Status to Complete"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        240
      ],
      "id": "982b0b72-e59c-4a35-a6b0-f0522207713e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fix Binary Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Binary Type": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extract Text from Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update Project Status to Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Scoring Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scoring Request": {
      "main": [
        [
          {
            "node": "Score Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Resume": {
      "main": [
        [
          {
            "node": "Parse Score Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score Response": {
      "main": [
        [
          {
            "node": "Save Candidate to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Candidate to Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Status to Complete": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4e6481ff-7824-4121-bc50-8dfe483a3d74",
  "meta": {
    "instanceId": "773e3bef8f45334062fe7fb67a3c29322dab6b98f887d6e2ef8997d4577fd815"
  },
  "id": "HkdMCSSvSiGNBC3p",
  "tags": []
}